* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(135deg, #022241, #34495e);
    color: #131010;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgb(255 255 255 / 10%);
}

header > span {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header > span {
    font-family: fantasy;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    gap: 30px;
    flex: 1;
}

figure {
    flex: 2;
    min-width: 200px;
    background: #ffffff;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgb(51 87 143 / 10%);
}


figure{
    flex: 1.4;
    min-width: 400px;
}

table{
    width: 100%;
    margin-top: 20px;
}

table{
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}


thead,
tbody {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

thead {
    background-color: #34495e;
    color: white;
    font-weight: bold;
}

h2::first-letter {
    font-size: 1.2em;
    color: #ff0000;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #273d53;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #741212;
}
