<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="4.0">

    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

<!--    <servlet>-->
<!--        <servlet-name>ControllerServlet</servlet-name>-->
<!--        <servlet-class>servelets.ControllerServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>ControllerServlet</servlet-name>-->
<!--        <url-pattern>/api/*</url-pattern>-->
<!--    </servlet-mapping>-->
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>error.jsp</location>
        <location>error.html</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>


</web-app>